# Basic Python

## 1. Split this string

In [ ]:
s = "Hi there Sam!"

In [4]:
string = "Hi there Sam!"
print(string.split())

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [6]:
planet = "Earth"
diameter = 12742

print("The diameter of {} is {} kilometers.".format(planet, diameter))

The diameter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [10]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello

# Numpy

In [11]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [12]:
import numpy as np
array=np.zeros(10)
print("An array of 10 zeros:")
print(array)

An array of 10 zeros:
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [13]:
import numpy as np
array=np.ones(10)*5
print("An array of 10 fives:")
print(array)

An array of 10 fives:
[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [14]:
import numpy as np
array=np.arange(30,71,2)
print("Array of all the even integers from 30 to 70")
print(array)

Array of all the even integers from 30 to 70
[30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [15]:
import numpy as np
x =  np.arange(0, 9).reshape(3,3)
print(x)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [21]:
a = np.array([[1, 2,3]])
b = np.array([[4,5, 6]])
np.concatenate((a, b), axis=0)

array([[1, 2, 3],
       [4, 5, 6]])

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd

In [20]:
import pandas as pd
import numpy as np
A = np.random.randint(10, size=(3,2))
A

array([[2, 7],
       [3, 8],
       [7, 8]])

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [32]:
import pandas as pd
per1 = pd.date_range(start ='1-1-2023',
		end ='02-10-2023', freq ='5H')
for val in per1:
	print(val)

2023-01-01 00:00:00
2023-01-01 05:00:00
2023-01-01 10:00:00
2023-01-01 15:00:00
2023-01-01 20:00:00
2023-01-02 01:00:00
2023-01-02 06:00:00
2023-01-02 11:00:00
2023-01-02 16:00:00
2023-01-02 21:00:00
2023-01-03 02:00:00
2023-01-03 07:00:00
2023-01-03 12:00:00
2023-01-03 17:00:00
2023-01-03 22:00:00
2023-01-04 03:00:00
2023-01-04 08:00:00
2023-01-04 13:00:00
2023-01-04 18:00:00
2023-01-04 23:00:00
2023-01-05 04:00:00
2023-01-05 09:00:00
2023-01-05 14:00:00
2023-01-05 19:00:00
2023-01-06 00:00:00
2023-01-06 05:00:00
2023-01-06 10:00:00
2023-01-06 15:00:00
2023-01-06 20:00:00
2023-01-07 01:00:00
2023-01-07 06:00:00
2023-01-07 11:00:00
2023-01-07 16:00:00
2023-01-07 21:00:00
2023-01-08 02:00:00
2023-01-08 07:00:00
2023-01-08 12:00:00
2023-01-08 17:00:00
2023-01-08 22:00:00
2023-01-09 03:00:00
2023-01-09 08:00:00
2023-01-09 13:00:00
2023-01-09 18:00:00
2023-01-09 23:00:00
2023-01-10 04:00:00
2023-01-10 09:00:00
2023-01-10 14:00:00
2023-01-10 19:00:00
2023-01-11 00:00:00
2023-01-11 05:00:00
2023-01-11 10:00:00
2023-01-11 15:00:00
2023-01-11 20:00:00
2023-01-12 01:00:00
2023-01-12 06:00:00
2023-01-12 11:00:00
2023-01-12 16:00:00
2023-01-12 21:00:00
2023-01-13 02:00:00
2023-01-13 07:00:00
2023-01-13 12:00:00
2023-01-13 17:00:00
2023-01-13 22:00:00
2023-01-14 03:00:00
2023-01-14 08:00:00
2023-01-14 13:00:00
2023-01-14 18:00:00
2023-01-14 23:00:00
2023-01-15 04:00:00
2023-01-15 09:00:00
2023-01-15 14:00:00
2023-01-15 19:00:00
2023-01-16 00:00:00
2023-01-16 05:00:00
2023-01-16 10:00:00
2023-01-16 15:00:00
2023-01-16 20:00:00
2023-01-17 01:00:00
2023-01-17 06:00:00
2023-01-17 11:00:00
2023-01-17 16:00:00
2023-01-17 21:00:00
2023-01-18 02:00:00
2023-01-18 07:00:00
2023-01-18 12:00:00
2023-01-18 17:00:00
2023-01-18 22:00:00
2023-01-19 03:00:00
2023-01-19 08:00:00
2023-01-19 13:00:00
2023-01-19 18:00:00
2023-01-19 23:00:00
2023-01-20 04:00:00
2023-01-20 09:00:00
2023-01-20 14:00:00
2023-01-20 19:00:00
2023-01-21 00:00:00
2023-01-21 05:00:00
2023-01-21 10:00:00
2023-01-21 15:00:00
2023-01-21 20:00:00
2023-01-22 01:00:00
2023-01-22 06:00:00
2023-01-22 11:00:00
2023-01-22 16:00:00
2023-01-22 21:00:00
2023-01-23 02:00:00
2023-01-23 07:00:00
2023-01-23 12:00:00
2023-01-23 17:00:00
2023-01-23 22:00:00
2023-01-24 03:00:00
2023-01-24 08:00:00
2023-01-24 13:00:00
2023-01-24 18:00:00
2023-01-24 23:00:00
2023-01-25 04:00:00
2023-01-25 09:00:00
2023-01-25 14:00:00
2023-01-25 19:00:00
2023-01-26 00:00:00
2023-01-26 05:00:00
2023-01-26 10:00:00
2023-01-26 15:00:00
2023-01-26 20:00:00
2023-01-27 01:00:00
2023-01-27 06:00:00
2023-01-27 11:00:00
2023-01-27 16:00:00
2023-01-27 21:00:00
2023-01-28 02:00:00
2023-01-28 07:00:00
2023-01-28 12:00:00
2023-01-28 17:00:00
2023-01-28 22:00:00
2023-01-29 03:00:00
2023-01-29 08:00:00
2023-01-29 13:00:00
2023-01-29 18:00:00
2023-01-29 23:00:00
2023-01-30 04:00:00
2023-01-30 09:00:00
2023-01-30 14:00:00
2023-01-30 19:00:00
2023-01-31 00:00:00
2023-01-31 05:00:00
2023-01-31 10:00:00
2023-01-31 15:00:00
2023-01-31 20:00:00
2023-02-01 01:00:00
2023-02-01 06:00:00
2023-02-01 11:00:00
2023-02-01 16:00:00
2023-02-01 21:00:00
2023-02-02 02:00:00
2023-02-02 07:00:00
2023-02-02 12:00:00
2023-02-02 17:00:00
2023-02-02 22:00:00
2023-02-03 03:00:00
2023-02-03 08:00:00
2023-02-03 13:00:00
2023-02-03 18:00:00
2023-02-03 23:00:00
2023-02-04 04:00:00
2023-02-04 09:00:00
2023-02-04 14:00:00
2023-02-04 19:00:00
2023-02-05 00:00:00
2023-02-05 05:00:00
2023-02-05 10:00:00
2023-02-05 15:00:00
2023-02-05 20:00:00
2023-02-06 01:00:00
2023-02-06 06:00:00
2023-02-06 11:00:00
2023-02-06 16:00:00
2023-02-06 21:00:00
2023-02-07 02:00:00
2023-02-07 07:00:00
2023-02-07 12:00:00
2023-02-07 17:00:00
2023-02-07 22:00:00
2023-02-08 03:00:00
2023-02-08 08:00:00
2023-02-08 13:00:00
2023-02-08 18:00:00
2023-02-08 23:00:00
2023-02-09 04:00:00
2023-02-09 09:00:00
2023-02-09 14:00:00
2023-02-09 19:00:00
2023-02-10 00:00:00

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [27]:
import pandas as pd  
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
df = pd.DataFrame(lists, columns =['FName', 'LName', 'Age'])
print(df)

   FName LName  Age
0      1   aaa   22
1      2   bbb   25
2      3   ccc   24